@namespace url('http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul');
@namespace html url("http://www.w3.org/1999/xhtml");

tab {
	-moz-appearance: none;
	height: 22px;
	background-color: transparent !important;
	border: none !important;
}

tab[selected=true] {
	-moz-appearance: none;
	background-color: #ccc !important;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-color: #e8e8e8;
	border-style: outset;
}

#pmogChatTabPanels {
	padding: 0;
	-moz-box-flex: 1;
}

#connectButton {
	list-style-image: url('chrome://pmog_chat/skin/irc/connect.png');
}

#disconnectButton {
	list-style-image: url('chrome://pmog_chat/skin/irc/disconnect.png');
}

#updateButton {
	list-style-image: url('chrome://pmog_chat/skin/irc/refresh.png');
}

#joinButton {
	list-style-image: url('chrome://pmog_chat/skin/irc/join.png');
}

#helpButton {
	list-style-image: url('chrome://pmog_chat/skin/images/help.png');
}

toolbarbutton {
	cursor: pointer;
}

toolbarbutton:hover {
	opacity: 1.0;
}

#pmogchatChatMainContainer {
	-moz-box-flex: 1;
	margin-top: 5px;
}

#chat-output {
	background-color: white;
	margin: 1px;
	-moz-border-radius: 1px;
	padding-left: 5px;
}

html|*.nick {
	margin-right: 5px;
}

html|*.user-nick {
	color: #f81b09;
	font-weight: bold;
}

html|*.self-nick {
	color: blue;
	font-weight: bold;
}

html|*.message-text {
	color: #000;
}

.tabs-left {
	display: none;
}

#tabboxid {
	margin: 10px 10px 0 0;
}

toolbarbutton[disabled=true] {
	opacity: 0.5;
	cursor: auto;
}