@namespace url('http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul');
@namespace html url("http://www.w3.org/1999/xhtml");

#connectButton {
	list-style-image: url('chrome://pmog_chat/skin/images/toolbar/connect-24.png');
}

#disconnectButton {
	list-style-image: url('chrome://pmog_chat/skin/images/toolbar/disconnect-24.png');
}

#updateButton {
	list-style-image: url('chrome://pmog_chat/skin/images/toolbar/refresh-24.png');
}

#joinButton {
	list-style-image: url('chrome://pmog_chat/skin/images/toolbar/join-24.png');
}

#helpButton {
	list-style-image: url('chrome://pmog_chat/skin/images/toolbar/help-24.png');
}

#preferencesButton {
	list-style-image: url('chrome://pmog_chat/skin/images/toolbar/preferences-24.png');
}

#elementList {
	width: 175px;;
}

toolbarbutton:not([disabled=true]) {
	cursor: pointer;
	opacity: 1.0;
}

toolbarbutton[disabled=true] {
	cursor: auto;
	opacity: 0.5;
}

toolbar {
	border-bottom: 0;
}

notification toolbarbutton {
	display: none;
}

.chat-output {
	background-color: white;
	overflow: auto;
	-moz-box-orient: vertical;
	-moz-box-flex: 1;
	-moz-user-focus: normal;
}

.chat_cursor {
	height: 5px;
}

html|*.single-message {
	
}

html|*.system-message {

}

html|*.nick {
	white-space: nowrap;
	vertical-align: top;
	padding-right: 4px;
}

html|*.user-nick {
	color: #f81b09;
	font-weight: bold;
}

html|*.self-nick {
	color: blue;
	font-weight: bold;
}

html|*.message-text {
	color: #000;
}

html|a {
	color: #1a00ff;
	cursor: pointer;
}

html|div {
	-moz-user-select: text;
}

html|*.no-height {
	display: inline-block;
}

html|table {
	border-collapse: collapse;
}

html|td {
	overflow: hidden;
}

html|tr {
	-moz-user-select: text;
}

html|*.odd {
	background-color: -moz-oddtreerow;
}

html|*.even {
	 background-color: transparent !important;
}

html|*.auto-layout {
	table-layout: auto;
}

html|*.shrinkwrap {
	width: auto;
}

html|*.stretched {
	width: 100%;
}

splitter {
  min-width: 4px;
  -moz-margin-start: -4px;
  border: none;
  background: transparent;
}

scrollbox {
	background-color:#FFFFFF;
	border-color:#A1A1A1 #C3C3C3 #DDDDDD;
	border-style:solid;
	border-width:1px;
	color:-moz-fieldtext;
	margin:0px 4px;
}

chat-panel {
  -moz-binding: url("chrome://pmog_chat/content/bindings/chat.xml#chat-panel");
}

notificationbox {
	margin: 2px 4px 0;
}

.tabbrowser-tab {
  -moz-binding: url("chrome://pmog_chat/content/bindings/chat.xml#tabbrowser-tab") !important;
}