@namespace url('http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul');
@namespace html url("http://www.w3.org/1999/xhtml");

#connectButton {
	list-style-image: url('chrome://pmog_chat/skin/images/toolbar/connect.png');
}

#disconnectButton {
	list-style-image: url('chrome://pmog_chat/skin/images/toolbar/disconnect.png');
}

#updateButton {
	list-style-image: url('chrome://pmog_chat/skin/images/toolbar/refresh.png');
}

#joinButton {
	list-style-image: url('chrome://pmog_chat/skin/images/toolbar/join.png');
}

#helpButton {
	list-style-image: url('chrome://pmog_chat/skin/images/toolbar/help.png');
}

#preferencesButton {
	list-style-image: url('chrome://pmog_chat/skin/images/toolbar/preferences.png');
}

toolbarbutton:not([disabled=true]) {
	cursor: pointer;
	opacity: 1.0;
}

toolbarbutton[disabled=true] {
	cursor: auto;
	opacity: 0.5;
}

toolbar {
	border-bottom: 0;
}

notification toolbarbutton {
	display: none;
}

.chat-output {
	background-color: white;
	overflow: auto;
	-moz-box-orient: vertical;
	-moz-box-flex: 1;
}

html|*.nick {
	margin-right: 5px;
}

html|*.user-nick {
	color: #f81b09;
	font-weight: bold;
}

html|*.self-nick {
	color: blue;
	font-weight: bold;
}

html|*.message-text {
	color: #000;
}

splitter {
  min-width: 4px;
  -moz-margin-start: -4px;
  border: none;
  background: transparent;
}

scrollbox {
	background-color:#FFFFFF;
	border-color:#A1A1A1 #C3C3C3 #DDDDDD;
	border-style:solid;
	border-width:1px;
	color:-moz-fieldtext;
	margin:2px 4px;
}

tabpanels {
	margin: 0;
	padding: 0;
}

tab {
	max-width: 200px;
	min-width: 150px;
	-moz-box-flex: 100;
}

tab[label=Console] toolbarbutton {
	display: none;
}

tab toolbarbutton label {
	display: none;
}

.tabs-closebutton-box {
	display: none;
}

chat-panel {
  -moz-binding: url("chrome://pmog_chat/content/bindings/chat.xml#chat-panel");
}